@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    
}
a{
    text-decoration: none;

}
body{
    width: 100%;
    height: 100%;
    /*position: relative;*/
    margin: 0;
}

nav {
    /*overflow: hidden;*/
    position: fixed;
    width: 100%;
    background-color: white;
    height: 110px;
    border: 1px solid white;
    /*position: relative;*/
}
.logo {
    position: absolute;
    left: 3.06%;
}
.navlogin:hover, .navcrearecont:hover, .butonupload:hover, .butontrimite:hover{
    cursor: pointer;
}

.navlogin{
    position: absolute;
    right: 232px;
    top: 66px;
    float: right;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    /*line-height: 58.23%;*/
    color: #06114F;
}
.navcrearecont {
    /*position: absolute;*/
    margin-right: 6.73%;
    margin-top: 66px;
    float: right;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    /*line-height: 58.23%;*/
    color: #06114F;
}
.salty{
    position: absolute;
}
.partajare-memeuri{
    position: absolute;
    font-family: 'Merriweather',cursive;
    font-style: normal;
    font-weight: 900;
    /* or 52px */
    text-align: center;
    color: #252F65;
    letter-spacing: -0.01em;
}
.platforma{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    color: #252F65;
}
.butonupload{
    position: absolute;
    color: white;
    background: #6F3096;
    border-radius: 5px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    border: none;
    text-align: center;
}
.blocuri{
    position: relative;
}
.bloc-mov-meme{
    background-color: #6F3096;
    position: absolute;
    width: 100%;
}
.bloc-alb-meme{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(38, 50, 56, 0.5);
    border-radius: 21px;
    
}
.aitupeu{
    position: absolute;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    color: #252F65;
}
.trimite-mail{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    /* or 27px */
    color: #252F65;
}
.desc{
    position: absolute;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.labeldesc{
    color: #06114F;
    }
#descriere{
    box-sizing: border-box;
    border: 1px solid #06114F;
    border-radius: 5px;
    color: rgba(6, 17, 79, 0.3);
}
.meme{
    position: absolute;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
}
.labelmeme{
    color: #06114F;
}
#memedrag{
    box-sizing: border-box;
    border: 1px solid #252F65;
    border-radius: 5px;
    color: rgba(6, 17, 79, 0.3);
}
.butontrimite{
    position: absolute;
    color: white;
    background: #6F3096;
    border-radius: 5px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    border: none;
    text-align: center;
}
.poze{
    position: relative;
}
.most-viewed{
    position: absolute;
    font-family: 'Merriweather',cursive;
    font-style: normal;
    font-weight: 900;
    /* or 52px */
    text-align: center;
    color: #252F65;
    letter-spacing: -0.01em;
}
.meme1{
    position: absolute;
}
.meme2{
    position: absolute;
}
.meme3{
    position: absolute;
}
footer{
    position:relative;
    
}
.chenar-footer{
    position: absolute;
    width: 100%;
    background: #06114F;
}
.insta{
    position: absolute;
    color: white;
}
.twitch{
    position: absolute;
    color: white;
}
.facebook{
    position: absolute;
    color: white;
}
.copyright
{
    position: absolute; 
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300; 
    text-align: center;
    color: #FFFFFF;
    
}
@media screen and (min-width:500px) {
    
    .logo{
        height: 56px;
        width: 13.41%;
        top:50px;
    }
    .meniu{
        display: none;
    }
    .salty{
        width: 44.04%;
        height: 647px;
        left: 47.24%;
        top: 78px;
    }
    .partajare-memeuri{
        
        width: 44.86%;
        height: 133px;
        left: 3.74%;
        top: 288px;
        font-size: 43px;
        line-height: 121.1%;
    }
    .platforma{
        width: 36.41%;
        height: 53px;
        left: 7.07%;
        top: 420px;
        right: 54.52%;
        font-size: 20px;
        line-height: 23px;
    }
    .butonupload{
        left: 15.52%;
        right: 63.03%;
        top: 479px;
        width: 19.46%;
        height: 65px;
        font-size: 20px;
        line-height: 25px;
    }
    .bloc-mov-meme{
        top: 786px;
        height: 673px;
        left: -0.27%;
    }
    .bloc-alb-meme{
        height: 458px;
        top: 897px;
        width: 64.32%;
        left: 16.47%;
    }
    .aitupeu{
        width: 26.48%;
        height: 125px;
        left: 19.74%;
        top: 1004px;
        font-size: 32px;
        line-height: 121.1%;
    }
    .trimite-mail{
        width: 22.66%;
        height: 90px;
        left: 19.74%;
        top: 1101px;
        font-size: 22px;
        line-height: 121.1%;
    }
    .desc{
        top: 972px;
        left: 743.4px;
    }
    .labeldesc{
        width: 103.38px;
        height: 19.49px;
        top: 972px;
    }
    #descriere{
        width: 353.68px;
        height: 40.42px;
        top: 996.88px;
    }
    .meme{
        top: 1061.38px;
        left: 743.15px;
        font-size: 16px;
        line-height: 20px;
    }
    .labelmeme{
        width: 246.23px;
        height: 34.61px;
        top: 1061.38px;
    }
    #memedrag{
        width: 354.22px;
        height: 150.84px;
        top: 1088.33px;
    }
    .butontrimite{
        left: 844px;
        right: 463.54px;
        top: 1268px;
        width: 161.46px;
        height: 40.42px;
        font-size: 16px;
        line-height: 20.11px;
    }
    .most-viewed{
        width: 231px;
        height: 45px;
        left: 69px;
        top: 1526px;
        font-size: 36px;
        line-height: 45px;
    }
    .meme1{
        width: 28.45%;
        height: 369px;
        left: 3.6%;
        top: 1633px;
    }
    .meme2{
        width: 28.04%;
        height: 364px;
        left: 34.24%;
        top: 1634px;
    }
    .meme3{
        width: 28.45%;
        height: 363px;
        left: 65.89%;
        top: 1635px;
    }
    .chenar-footer{
        height: 174px;
        top: 2039px;
    }
    .insta{
        left: 45.14%;
        top: 2093.67px;
    }
    .twitch{
        left: 47.5%;
        top: 2094px;
    }
    .facebook{
        left: 49.81%;
        top: 2093.58px;
    }
    .copyright{
        left: 33%;
        top: 2135px;
        font-size: 20px;
        line-height: 121.1%;
    }
}
@media screen and (max-width:500px){
    /**{
        position: absolute;
        left: 7px;
    }*/
    .meniu{
        float: right;
        position: absolute;
        margin-top: 55px;
        margin-left: 295px;
        
    }
    .navlogin, .navcrearecont{
        display: none;
    }
    .logo{
        top: 48px;
        width: 108px;
        height: 31px;
    }
    .salty{
        width: 360px;
        height: auto;
        top: 521px;
    }
    .partajare-memeuri{
        
        width: 298px;
        height: 115px;
        left: 31px;
        right: 31px;
        top: 153px;
        font-size: 28px;
        line-height: 33.91px;
    }
    .platforma{
        width: 298px;
        height: 79px;
        left: 31px;
        top: 309px;
        right: 31px;
        font-size: 18px;
        line-height: 21.09px;
    }
    .butonupload{
        left: 36px;
        right: 38px;
        top: 429px;
        width: 286px;
        height: 65px;
        font-size: 20px;
        line-height: 25.14px;
    }
    .bloc-mov-meme{
        top: 958px;
        height: 673px;
    }
    .bloc-alb-meme{
        height: 595px;
        top: 997px;
        width: 297px;
        left: 32px;
    }
    .aitupeu{
        width: 256px;
        height: 88px;
        left: 53px;
        right: 51px;
        top: 1048px;
        font-size: 20px;
        line-height: 24.22px;
        text-align: center;
    }
    .trimite-mail{
        width: 241px;
        height: 86px;
        left: 58px;
        top: 1121px;
        right: 61px;
        font-size: 16px;
        line-height: 19.38px;
        text-align: center;
    }
    .desc{
        top: 1204px;
        left: 59.1px;
    }
    .labeldesc{
        width: 123px;
        height: 19px;
        top: 1204px;
    }
    #descriere{
        width: 249.9px;
        height: 40.42px;
        top: 1231.88px;
    }
    .meme{
        top: 1207px;
        left: 59px;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
    .labelmeme{
        width: 228px;
        height: 35px;
        top: 1297px;
    }
    #memedrag{
        width: 250px;
        height: 150.84px;
        top: 1324.42px;
    }
    .butontrimite{
        left: 100px;
        /*right: 83.54px;*/
        top: 1503px;
        width: 161.46px;
        height: 40.42px;
        font-size: 16px;
        line-height: 20.11px;
    }
    .most-viewed{
        width: 231px;
        height: 45px;
        left: 62px;
        top: 1650px;
        font-size: 36px;
        line-height: 45px;
    }
    .meme1{
        width: 283px;
        height: 250px;
        left: 40px;
        top: 1758px;
    }
    .meme2{
        width: 302px;
        height: 243px;
        left: 33px;
        top: 2072px;
    }
    .meme3{
        width: 284px;
        height: 247px;
        left: 42px;
        top: 2356px;
    }
    .chenar-footer{
        height: 174px;
        top: 2643px;
    }
    .insta{
        left: 133.13px;
        top: 2664.67px;
    }
    .twitch{
        left: 170.13px;
        top: 2665.95px;
    }
    .facebook{
        left: 207.77px;
        top: 2665.58px;
    }
    .copyright{
        
        top: 2719px;
        font-size: 20px;
        line-height: 24.22px;
    }
}



